<div class="text-right">
  <button class="btn btn-outline-primary" (click)="onNavigateToMulti()">Go to Multi-Counter</button>
</div>
<div class="text-center">
  <h1>Counter App</h1>
  <h5>Use this app to keep track of anything you need to count!</h5>
  <p id="counter">{{amount}}</p>
  <button class="btn text-primary" (click)="onDecrement()" [disabled]="+amount <= 0">
    <fa-icon [icon]="faMinus" class="fa-5x"></fa-icon>
  </button>
  <span id="between-buttons"></span>
  <button class="btn text-primary" (click)="onIncrement()">
    <fa-icon [icon]="faPlus" class="fa-5x"></fa-icon>
  </button>
  <br><br>
  <button class="btn btn-danger" id="reset-btn" (click)="onReset()">Reset</button>
  <br><br>
  <p>Use the following form to set the counter to your own value (positive integers only).</p>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <form (ngSubmit)="onSet()" #f="ngForm">
        <div class="row">
          <div class="col-9 form-group">
            <input
              class="form-control text-center"
              type="number"
              ngModel
              pattern="^[1-9]+[0-9]*$"
              name="newAmount"
              min="0"
              required>
          </div>
          <div class="col-3">
            <button class="btn btn-info btn-block" type="submit" [disabled]="!f.valid">Set</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md"></div>
  </div>
</div>
