<div class="container">
  <h1 class="text-center">Counter App</h1>
  <h5 class="text-center">Use this app to keep track of anything you need to count!</h5>
  <p class="text-center" id="counter">{{amount}}</p>
  <div class="text-center">
    <button class="btn text-primary"><i class="fa fa-5x fa-minus-circle"></i></button>
    <button class="btn text-primary"><i class="fa fa-5x fa-plus-circle"></i></button>
    <br/>
    <br/>
    <button class="btn btn-danger" id="reset-btn">Reset</button>
    <br/>
    <br/>
    <p>Use the following form to set the counter to your own value.</p>
    <input class="text-center" type="number" min="0">
    <button class="btn btn-info">Set</button>
  </div>
</div>
