<div class="text-right">
  <button class="btn btn-outline-primary" (click)="onNavigateToSingle()">Go to Single-Counter</button>
</div>
<div class="text-center">
  <h1>Counter App</h1>
  <h5>Use this app to count multiple things at once!</h5>
  <br/>
  <div class="list-group">
    <div class="list-group-item counter-item" *ngFor="let counter of counters; let i = index">
      <div class="row">
        <div class="col-md-10">
          <app-counter-item [counter]="counter" [index]="i"></app-counter-item>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger float-right" (click)="onDeleteCounter(i)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-block" (click)="onAddCounter()">Add Counter</button>
  </div>
  <br/>
  <p>Please note that refreshing this page will cause you to lose your counters.</p>
</div>
