<div class="row">
  <div class="col-md-6">
    <input class="form-control" id="counter-{{index}}" type="text" [(ngModel)]="counter.name">
    <label for="counter-{{index}}" class="name-label">
      <i class="fa fa-2x fa-arrow-up"></i>&nbsp;Name of Counter&nbsp;<i class="fa fa-2x fa-arrow-up"></i>
    </label>
  </div>
  <div class="col-md-6">
    <span class="text-center">
      <input class="form-control text-center" [(ngModel)]="counter.amount" type="number" min="0">
      <button
        class="btn text-primary fa fa-2x fa-minus-circle"
        [disabled]="counter.amount === 0"
        (click)="onDecrement()"
      ></button>
      <button class="btn text-primary fa fa-2x fa-plus-circle" (click)="onIncrement()"></button>
    </span>
  </div>
</div>
