/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";
@import "~font-awesome";

/* Sticky footer trick from https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
  background-color: aliceblue;
  height: 100%;
  margin: 0;
}

.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

.footer{
  height: 50px;
  background-color: lightblue;
  text-align: center;
}
